html{
    --light-blue: #a4e4fc;
    --light-black : #152931;
    --main-btn : #fff;
    --accent-btn :#e1f7ff ;
    margin: 20px 0px 0px 60px;
    padding: 0px;
    background-color: var(--light-black);
    color:white;
    overflow:hidden;

}

h1{
    font-size: 4em;
}

h2{
    letter-spacing: 1.5px;
    margin: 20px 0px 5px 0px;
    font-size: 2em;
}

.header{
    width: 100%;
    position: absolute;
    z-index: 5;
    letter-spacing: 5px;
    float: clear;
    color: var(--light-blue);
}

.logo{
    padding: 25px 20px 0px 0px ;
    float: left;
    width: 100px;
    height: auto;
}

.header-h1{
    padding: 10px 0px 0px 100px;
}


.inner{
    margin-top: 8%;
    position: absolute;
    z-index: 5;
    margin-left: 20px;
    display: inline-grid;
    grid-template-columns: 50% 50% 50%;
}

.four-btn{
    margin-bottom: 20px;
}

.btn{
    width: 85px;
    height: 35px;
    margin: 0px 15px 0px 0px;
    font-size: 12px;
    font-weight: lighter;
    border-radius: 3px;
    border: 1px white dotted;
    background-color: var(--main-btn);
}

.numbtn{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.btn:hover{
    background-color: var(--accent-btn);
}

.btn:focus{
    border: 1px var(--light-blue) solid;
}

.lcdread{
    padding: 5px;
    margin-top: 20px;
    width: 400px;
    height: 80px;;
    background-color: white;
}


.lcdtext{
    margin: 0px;
    padding: 5px;
    color: black;
    font-size: 1.5em;
}
#lcdsecond{
    margin-left: 8px;
}

#btnrefresh{
    margin-top:20px;
}

#aa_particles
{
    z-index: 4;

    height: 100%;
    height: 100vh;

}
