/* ==========  GLOBAL Layout* =========*/
.btn {
  min-width: 150px;
}

body {
  --backgroundcolor: #03a9f4;
  background-color: var(--backgroundcolor);
}

.header {
  letter-spacing: 20px;
  text-align: center;
  font-size: 3em;
  padding: 30px 0px 10px 0px;
}

.row {
  display: block;
  margin: 0px auto;
  float: center;
}

.row-3btns {
  margin-top: 30px;
  width: 80%;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

.draw-border {
  margin: 10px 20px;
  transition: color 0.25s 0.08333s;
  position: relative;
}

.footer {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: rgb(141, 139, 139);
}

.footerwrap {
  padding: 40px 0px 30px 0px;
}

.rowheader {
  text-align: left;
  font-size: 30px;
  margin: 0px 15px;
}

.row-leinwand {
  width: 73%;
  margin-top: 20px;
}

.row-vorhang {
  margin-top: 20px;
  width: 73%;
}

.expertenmodus{
  display:none;
  margin-top: 50px;
  text-align: center;
  font-size: 1em;
}

/* =========================   DESKTOP LAYOUT ===========================0 */

@media only screen and (min-width: 850px) {
  .contentcontainer {
    background: white;
    color: black;
    margin: 20px auto 0px auto;
    width: 800px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .row-4btn {
    margin-top: 20px;
    width: 550px;
  }
  .rowheader {
    color: black;
  }
  .draw-border {
    box-shadow: inset 0 0 0 4px #007ac1;
    color: #007ac1 ;
  }
  .draw-border:hover {
    color: #67daff;
  }
  .btn:focus {
    outline: 2px dotted #00649e;
  }
}

/*=========================    Mobile DESIGN =======================================0000 */

@media only screen and (max-width: 850px) {
  .header {
    color: white;
    font-size: 2em;
  }
  .contentcontainer {
    background: #03a9f4;
    margin: 50px auto 0px auto;
  }
  .row-4btn {
    margin-top: 20px;
    width: 100%;
  }
  .rowheader {
    color: white;
  }
  .draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
  }
  .draw-border:hover {
    color: #2acaff;
  }
  .btn:focus {
    outline: 2px dotted rgb(229, 235, 229);
  }
}