<!-- 
Project: Barco-slm-network 
Author: leon.rauschenbach@web.de
This is the Web-Front-End of the Project
-->

<html>

<head>
  <title>Barco-SLM-Network</title>
  <meta content="">
  <link rel="stylesheet" href="../static/app/app.css">
  <link rel="shortcut icon" href="../static/favicon.png" />

</head>

<body>
  <!-- Script that Handels all Requests -->
  <script src="../static/app/app.js"></script>
  <!-- Container for Controls START ==========================================ss -->
  <div id="controls" class="contentcontainer">
    <p class="header">Barco-SLM-Network</p>
    <div class="control">

      <div class="row row-3btns">
        <p class="rowheader">Allgemein</p>
        <button onClick="" class="btn draw-border">On</button>
        <button onClick="" class="btn draw-border">Standby</button>
        <button onClick="" class="btn draw-border">Something</button>
      </div>

      <div class="row row-3btns">
        <p class="rowheader">Shutter</p>
        <button onClick="stdrequest('shutter_on')" class="btn draw-border">Shutter an</button>
        <button onClick="stdrequest('shutter_off')" class="btn draw-border">Shutter aus</button>
      </div>

      <div class="footerwrap">
        <p class="footer">// made with Love</p>
        <p class="footer">// by Leon Rauschenbach</p>
      </div>

    </div>
  </div>

  <!-- Framework for swal() Popups -->
  <script src="../static/sweetalert.min.js"></script>
  <link rel="stylesheet" href="../static/sweetalert.css">
</body>

</html>